<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BTVN1</title>
    <link rel="stylesheet" href="./header.css">
</head>

<body>
    <div class="header">
        <div class="logo-header">
            <img src="../../assets/react.svg" alt="logo-header">
        </div>
        <div class="navigate-header">
            <a href=""> &lt; </a>
            <span>SoftLand</span>
            <a href=""> &gt; </a>
        </div>
        <div class="download-header">
            <a href="">Download</a>
        </div>
    </div>

</body>

</html>